$blue: blue;
$border-color-hover: #666;
$border-color: #999;
$border-radius: 4px;
$border-shadow-color: rgba(0,0,0,.5);
$button-active-bg: #eee;
$button-bg: white;
$button-height: 32px;
$button-radius: 4px;
$color: #333;
$content-border-color: #333;
$content-border-radius: 4px;
$disabled-text-color: gray;
$font-size: 14px;
$height: 32px;
$red: #F1453D;
$tab-height: 40px;
$toast-bg: rgba(0,0,0,.75);
$toast-border-radius: 4px;
$toast-height: 40px;
$toast-width: 320px;
$table-border-color: #ebeef5;
